/* used for things that should be hidden in the ui,
but useful for people who use screen readers */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.toggle-all {
	width: 40px !important;
	height: 60px !important;
	right: auto !important;
}

.toggle-all-label {
	pointer-events: none;
}

.info {
	margin: 0 auto 20px;
}
.footer::before {
	content: "";
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: none;
}

@media (max-width: 430px) {
    .filters {
        bottom: 80px;
    }
}

.toggle-lang{
	position: absolute;
    right: 0;
    top: -30px;
}
.toggle-lang button {
	border: 1px solid black;
	padding: 0 10px;
}

